################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Assignment 1 Solution/.vs/Assignment 1 Solution/v15/Server/sqlite3
