################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/Assignment 1 Solution/.vs/Assignment 1 Solution/v15/Server/sqlite3
/Lab1/Assignment 1 Solution/Assignment 1/bin/Debug/netcoreapp2.0
/Lab1/Assignment 1 Solution/Assignment 1/obj/Debug/netcoreapp2.0
/Lab1/Assignment 1 Solution/.vs/Assignment 1 Solution/DesignTimeBuild
/.vs/slnx.sqlite
/Lab4/Assignment 4 Solution/.vs/Assignment 4 Solution/v15/Server/sqlite3
